In [58]:
import pandas as pd
import json

## Convert txt file data into list dataset

In [59]:
def to_list(file, mood = None):
  with open(file) as f:
    dataset = []
    for line in f.readlines():
      data = line.strip().split("-")
      obj = {
          "title": data[0].strip(),
          "author": data[1].strip(),
          "year": data[2].strip(),
      }
      if mood:
        obj['mood'] = mood
      dataset.append(obj)
    return dataset

## Explore as pandas dataframe and drop duplicates

In [60]:
dataset = to_list("sad-books.txt")
df = pd.DataFrame(dataset)

In [61]:
df.shape

(158, 3)

In [62]:
df.head()

                             title            author  year
0            To Kill a Mockingbird        Harper Lee  1960
1                  The Giving Tree  Shel Silverstein  1964
2           The Fault in Our Stars        John Green  2012
3  The Perks of Being a Wallflower   Stephen Chbosky  1999
4                    Me Before You        Jojo Moyes  2012

In [63]:
df[df.title == "To Kill a Mockingbird"]

                     title      author  year
0    To Kill a Mockingbird  Harper Lee  1960
50   To Kill a Mockingbird  Harper Lee  1960
103  To Kill a Mockingbird  Harper Lee  1960

In [64]:
df["title"].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
153     True
154     True
155     True
156    False
157     True
Name: title, Length: 158, dtype: bool

In [65]:
df2 = df.drop_duplicates(subset=["title"])

In [66]:
df2.shape

(101, 3)

In [67]:
df2[df2.title == "To Kill a Mockingbird"]

                   title      author  year
0  To Kill a Mockingbird  Harper Lee  1960

In [68]:
result = df2.to_json("sad-books.json", orient='records')